<div class="jumbotron">
    <h2>Form Validation</h2>
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
            <label>First Name:</label>
            <input class="form-control" type="text" placeholder="Poxos" [formControl]="complexForm.controls['firstName']">
            <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">Datark e</div>
            <div *ngIf="complexForm.controls['firstName'].hasError('minlength') &&  complexForm.controls['firstName'].touched" class="alert alert-danger">Minimum: 3</div>
            <div *ngIf="complexForm.controls['firstName'].hasError('maxlength') &&  complexForm.controls['firstName'].touched" class="alert alert-danger">Maximum: 10</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['lastName'].valid && complexForm.controls['lastName'].touched}">
            <label>Last Name</label>
            <input class="form-control" type="text" placeholder="Poxosyan" [formControl]="complexForm.controls['lastName']">
            <div *ngIf="complexForm.controls['lastName'].hasError('required') && complexForm.controls['lastName'].touched" class="alert alert-danger">Datark e</div>
            <div *ngIf="complexForm.controls['lastName'].hasError('minlength') &&  complexForm.controls['lastName'].touched" class="alert alert-danger">Minimum: 3</div>
            <div *ngIf="complexForm.controls['lastName'].hasError('maxlength') &&  complexForm.controls['lastName'].touched" class="alert alert-danger">Maximum: 15</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['gender'].valid && complexForm.controls['firstName'].touched}">
            <label>Gender</label>
            <div class="alert alert-danger" *ngIf="!complexForm.controls['gender'].valid && complexForm.controls['gender'].touched">
                You must select a gender.
            </div>
        </div>
        <div class="radio">
        <label>
            <input type="radio" name="gender" value="Male" [formControl]="complexForm.controls['gender']">
            Male
        </label>
        </div>
        <div class="radio">
        <label>
            <input type="radio" name="gender" value="Female" [formControl]="complexForm.controls['gender']">
            Female
        </label>
        </div>
        <div class="form-group">
            <label>Activities</label>
        </div>
        <label class="checkbox-inline">
            <input type="checkbox" value="hiking" name="hiking" [formControl]="complexForm.controls['hiking']"> Hiking
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="swimming" name="swimming" [formControl]="complexForm.controls['swimming']"> Swimming
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="running" name="running" [formControl]="complexForm.controls['running']"> Running
        </label>
        <br><br>
        <div class="form-group">
            <button type="submit" class="btn btn-default"  [disabled]="!complexForm.valid" >Submit</button>
        </div>
    </form>
</div>

