<div class=jumbotron> 
    <h2>Temlate Driven Form</h2>
    <form  #form="ngForm" (ngSubmit) = "submitForm(form.value)">
        <div class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" placeholder="John" 
            name="firstName" ngModel required>
        </div>
        <div class="fomr-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" placeholder="Doe" name="lastName" ng ngModel required>
        </div>
        <br>
        <div class="form-group">
            <label>Gender:</label>
        </div>
        <div class="radio">
            <label >
                <input type="radio" name="gender" value="Male" ngModel>
                Male
            </label>
        </div>
        <div class="radio">
            <label >
                <input type="radio" name="gender" value="Famale" ngModel>
                Famale
            </label>
        </div>
        <div class="form-group">
            <label>Activites</label>
        </div>
        <label class="checkbox-inline">
            <input type="checkbox" value="hiking" name="hiking" ngModel> Hiking
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="swimming" name="swimming" ngModel> Swimming
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="running" name="running" ngModel> Running
        </label>
        <br><br>
        <div class="form-group">
            <button type="submit" class="btn btn-defoult">Submit</button>
        </div>
    </form> 
</div>